<div class="upload-dialog">
  <div class="main-dialog">
    <button class="btn-close">
      <div class="gradient-close"></div>
    </button>
    <div class="dialog-title">
      <h3 style="font-weight: bold;">ファイルアップロード</h3>
    </div>
    <div class="row table1">
      <div class="col-xs-3 col-sm-4 col-md-3 first-row">ファイル名</div>
      <div class="col-xs-0 col-sm-0 col-md-2 first-row">タイプ</div>
      <div class="col-xs-6 col-sm-5 col-md-4 first-row">日  付</div>
      <div class="col-xs-3 col-sm-3 col-md-3 first-row"></div>

      <div class="col-xs-3 col-sm-4 col-md-3">文書1.jpg</div>
      <div class="col-xs-0 col-sm-0 col-md-2">イメージ</div>
      <div class="col-xs-6 col-sm-5 col-md-4">2016/11/30  09:30:20</div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <button class="gradient-btn2 round-btn2 btn-delete"><span class="btn-caption span-delete">削    除</span></button>
      </div>

      <div class="col-xs-3 col-sm-4 col-md-3">文書1.jpg</div>
      <div class="col-xs-0 col-sm-0 col-md-2">イメージ</div>
      <div class="col-xs-6 col-sm-5 col-md-4">2016/11/30  09:30:20</div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <button class="gradient-btn2 round-btn2 btn-delete"><span class="btn-caption span-delete">削    除</span></button>
      </div>

      <div class="col-xs-3 col-sm-4 col-md-3">文書1.jpg</div>
      <div class="col-xs-0 col-sm-0 col-md-2">イメージ</div>
      <div class="col-xs-6 col-sm-5 col-md-4">2016/11/30  09:30:20</div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <button class="gradient-btn2 round-btn2 btn-delete"><span class="btn-caption span-delete">削    除</span></button>
      </div>
    </div>

    <div class="row table2">
      <div class="col-md-12">
        <label>文書1.pdf</label>
        <prog class="progress-panel">
          <progpanel><progpro></progpro></progpanel>
        </prog>
        <button class="gradient-btn2 round-btn2 btn-pause"><span class="btn-caption span-delete">アップロード</span></button>
        <button class="gradient-btn3 round-btn2 btn-stop"><span class="btn-caption span-delete">キャンセル</span></button>
      </div>
      <div class="col-md-12">
        <label>文書2.pdf</label>
        <prog class="progress-panel">
          <progpanel><progpro></progpro></progpanel>
        </prog>
        <button class="gradient-btn2 round-btn2 btn-pause"><span class="btn-caption span-delete">アップロード</span></button>
        <button class="gradient-btn3 round-btn2 btn-stop"><span class="btn-caption span-delete">キャンセル</span></button>
      </div>
      <div class="col-md-12">
        <div class="btn-types">
          <button class="gradient-btn2 round-btn2 btn-type1"><span class="btn-caption span-delete">PDF文書</span></button>
          <button class="gradient-btn2 round-btn2 btn-type2"><span class="btn-caption span-delete">イメージ</span></button>
          <button class="gradient-btn2 round-btn2 btn-type3"><span class="btn-caption span-delete">メディア</span></button>
          <button class="gradient-btn2 round-btn2 btn-type4"><span class="btn-caption span-delete">その他</span></button>
          <button class="gradient-btn2 round-btn2 btn-pause-all"><span class="btn-caption span-delete">すべてアップロード</span></button>
          <button class="gradient-btn3 round-btn2 btn-stop-all"><span class="btn-caption span-delete">すべてキャンセル</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
