<div class="top-background height-37 position-relative">
  <div class="top-logo col-md-6" style="display:flex">
    <span><%=room_name%></span>
  </div>
  <div class="top-menu col-md-6">
    <div class="button2" onclick="out_room()">
      <span>アウトルーム </span>
    </div>
  </div>
</div>
